body {
  margin: 0;
  font-family: arial,sans-serif;
  font-size: .75em;
  color: #333;
}

h1 {
  text-align: center;
  background: #fff url(/img/radial-gradient.png) no-repeat top center;
  border-bottom: 3px solid #ccc;
  margin: 0;
  padding: .8em;
}

a {text-decoration: none}
a:hover {text-decoration: underline}

abbr {
  cursor: help;
  border-bottom-width: 0;
}

.column {
  float: left;
  padding: 0 40px;
}
.c1, .c2 {border-right: 1px dotted #ccc}

ul.center-aligned {list-style-type: none}
ul span {font-weight: bold}
ul .fail      {color: #e13737}
ul .warning   {color: #ff7c00}
ul .ok        {color: #0ab006}
ul .unchecked {color: #ccc}

table {
  border-collapse: collapse;
  border-left: 1px solid #686868;
  border-right: 1px solid #686868;
  text-align: left;
  clear: both;
  margin: 20px auto;
}
table tr {border: 1px solid #686868}
table caption, table th           {font-weight: bold}
table caption, table th, table td {padding: 2px 5px}
table a .protocol  {color: #999}
table a .domain    {font-weight: bold}
table .empty_string {color: #999; font-style: italic}
table .state     {font-weight: bold; color: #fff}
table .fail      {background-color: #e13737}
table .warning   {background-color: #ff7c00}
table .ok        {background-color: #0ab006}
table .unchecked {background-color: #ccc; color: #000}
table .unknown {color: #999}
table .duration.acceptable {}
table .duration.slow       {color: #e13737}
table .graph {padding: 0}

#footer {
  text-align: center;
  color: #999
}